@page "/GoblinDoAmor"
@using BTCSTXSwap.Web.Data
@using System.Numerics;
@inject GoblinService goblinService

<h1>Goblin</h1>

<div class="form-group row">
    <label class="control-label col-md-12">Genetics code</label>
    <div class="col">
        <input class="form-control" @bind-value="@genetic" />
    </div>
</div>
<div class="form-group row">
    <label class="control-label col-md-12">Equipments code</label>
    <div class="col">
        <input class="form-control" @bind-value="@equipment" />
    </div>
</div>

<button class="btn btn-primary" @onclick="CreateGoblinImage">Generate Goblin Image</button>
<p>Goblin Image:</p>
<img src="@goblinImageData" title="Goblin Image" />
<p>@messageCreatePureGoblins</p>
<button class="btn btn-primary" @onclick="SyncGoblins">Sync Goblins</button>

@code {
    private string messageCreatePureGoblins = "";
    private string goblinImageData = null;
    private string genetic { get; set; } = "83558988415279582464180203279000583223224930496717703871541613";
    private string equipment { get; set; } = "0";

    private void CreateGoblinImage()
    {
        goblinImageData = goblinService.BuildGoblinImage(BigInteger.Parse(genetic), BigInteger.Parse(equipment));
    }
    private void SyncGoblins()
    {
        goblinService.RebuildGoblins();
    }
}
